In [1]:
import numpy as np
import pandas as pd

In [12]:
maasSozluk = {
             "departmanlar" : ["yazılım","hukuk","hukuk","pazarlama","pazarlama"],
              "isim":["ahmet","atil","osman","temel","fatma"],
              "maas":[1000,2000,3000,5000,6000]
              }
maasSozlukDf =pd.DataFrame(maasSozluk,index=range(1,6))
maasSozlukDf

  departmanlar   isim  maas
1      yazılım  ahmet  1000
2        hukuk   atil  2000
3        hukuk  osman  3000
4    pazarlama  temel  5000
5    pazarlama  fatma  6000

In [18]:
maasSozlukDf["isim"].unique()

array(['ahmet', 'atil', 'osman', 'temel', 'fatma'], dtype=object)

In [19]:
maasSozlukDf["isim"].nunique()

5

In [20]:
maasSozlukDf["isim"].value_counts()

isim
ahmet    1
atil     1
osman    1
temel    1
fatma    1
Name: count, dtype: int64

In [30]:
maasSozlukDf["maas"] = maasSozlukDf["maas"] * 0.66
maasSozlukDf

  departmanlar   isim  maas
1      yazılım  ahmet  66.0
2        hukuk   atil  66.0
3        hukuk  osman  66.0
4    pazarlama  temel  66.0
5    pazarlama  fatma  66.0

### Fonksiyon İLe İşleme Sokma

In [33]:
def bruttennete(maas):
    return maas * 0.5

In [34]:
maasSozlukDf["maas"].apply(bruttennete)

1    33.0
2    33.0
3    33.0
4    33.0
5    33.0
Name: maas, dtype: float64

### Excelle Çalışma

In [ ]:
veriler = pd.read_excel("veriler.ods")
veriler.to_excel("newData.xlxs")